<%- include(generatorModulePath + '/tpl-designerinfo.html') %>
<%- include(generatorModulePath + '/tpl-uniquedesign.html') %>
<%- include(generatorModulePath + '/tpl-searchdesign.html') %>

<!-- FIELDS DESIGN TEMPLATE -->
<%- include(generatorModulePath + '/tpl-field-textbox.html') %>
<%- include(generatorModulePath + '/tpl-field-numberbox.html') %>
<%- include(generatorModulePath + '/tpl-field-checkbox.html') %>
<%- include(generatorModulePath + '/tpl-field-combobox.html') %>
<%- include(generatorModulePath + '/tpl-field-datepicker.html') %>
<%- include(generatorModulePath + '/tpl-field-timepicker.html') %>
<%- include(generatorModulePath + '/tpl-field-filebox.html') %>



<!-- DROP TARGET -->
<div name="drop-target" class="drop-target">
	drag and drop component here
</div>

<!-- ICON TOOL -->
	<div name="component-icon-tool" class="component-icon-tool" draggable="true">
	<div data-icon></div>
	<div data-label>Textbox</div>
</div>


